<ion-header>
  <ion-toolbar>
    <ion-title>chart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header color="light">
    Simple Bar Chart
  </ion-list-header>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>
        {{subtitle}}
      </ion-card-subtitle>
      <ion-card-title>
        {{title}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div id="barChart"></div>
    </ion-card-content>
  </ion-card>
</ion-content>
